.wrapper {
    max-width: 1300px;
    width: 85%;
    margin: 0 auto;
}

a {
    display: inline-block;  
    color: inherit;
    text-decoration: none;  
    transition: .3s;
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}