.blogHeader {
    min-height: 58vh;
    background-image: url(../assets/blog-1-min.jpeg);
    background-size: cover;
    background-position: center;
}



.blogSection {

    .blogContent {
        p {
            margin-top: 20px;
        }        
    }  
}