.contactHeader {
    min-height: 58vh;
    background-image: url(../assets/contact-1-min.jpeg);
    background-size: cover;
    background-position: center;
}

.contact {   

    .contactContent {
        display: flex;
        height: 83vh;        
    
        .formContainer {
            display: flex;                      
            width: 62.7%;            
            
            .wrapper {
                margin-right: 0;
                
                h2 {
                    margin-top: 80px;
                }

                    form {
                        margin-top: 40px;
                        padding-right: 10px;  
                        
                        
                        input {
                            color: $tertiary;                     
                            width: 47.6%;
                            height: 41px;
                        }

                        input[name=name] {
                            margin-right: 12px;
                        }

                        textarea {
                            resize: none;
                        }
                    

                        input[name=subject],
                        textarea {
                            min-width: 98%;
                        }

                        input,
                        textarea {
                            border: none;
                            background-color: $quarternary;
                            margin-bottom: 20px;
                        }

                        button {
                            border: none;
                            background-color: inherit; 
                            cursor: pointer; 
                            
                            i {
                                padding-left: 5px;
                            }
                        }
                    }
                }
        }
    
        .contactDetailsContainer {            
            width: 38.3%;
            background-color: $quarternary;
            padding-left: 30px;

            .wrapper {
                margin-left: 0;                
            }

            div {
                max-width: 56%; 
            }

            .contactDetails {
                max-width: 100%;                

                h3 {
                    margin: 80px 0 30px;
                }
            }

            h5 {
                margin: 48px 0 15px;
            }

            adress {
                display: flex;
                flex-direction: column; 
                justify-content: space-between;
                height: 120px;             
            }
        }
    }

//  < !--------- Background Section --------->
    .contactBackground {
        height: 57vh;
        background-image: url(../assets/contact-2-min.jpeg);
        background-size: cover;
        background-position: center;
    }
}