footer {
    background-color:$secondary;
    color: $tertiary;  
    padding-top: 4rem;   

    .wrapper {       
        display: flex;
                
        .footerColumn {
            flex-basis: 250px;
            flex-grow: 1;
            padding-right: 30px;
            margin-bottom: 70px;


            .contentBoder {
                width: 80%;
                line-height: 25px;
                border-bottom: 1px solid $septenary;
                padding-bottom: 14px; 
                padding-top: 8px;        
            }

            adress {
                a:last-child {
                    padding-top: 8px;
                }
            }

            a,
            span {
                display: block;
            }

            a:hover,
            a:focus {
            color: $quinary;
            }

            .footerHeading {
                margin-bottom: 2rem;
            }                  
        }      

        .subscribe {
            padding-right: 0; 

            
            p {
                padding-bottom: 20px;
                width: 274px;
            }

            form {
                display: flex;
                border-bottom: 1px solid $septenary;
                width: 70%;
                padding-bottom: 30px;
                
                input[type=email] {
                    width: 232px;
                    height: 40px;
                    border: none;
                    background-color: $septenary;
                    opacity: 0.6;  
                    outline: none;
                }                
            }

                .fa-right-long {
                    height: 35px;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    justify-content: center;
                }

                button[type=submit] {
                    width:45px;
                    height: 40px;
                    border: none;
                    background-color: $quinary; 
                    cursor: pointer;             
                }
        }

    }

    .socialMedia {
        display: flex;
        width: 81%;
        margin-top: 20px;   
    
        li {
    
            a {
                font-size: 16px;
                color: $quarternary;
                padding: 2px 15px;
    
                &:hover,
                &:focus {
                    color: $quinary;
                }
            }
    
            a:first-child {
                padding-left: 0;
            }
    
    
        }
    }

    .copyright{
        height: 55px;
        background-color: $primary;
        padding: 8px 0 0 150px;       
    }
}

