header {
    background-image: url(../assets/home-1-min.jpeg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;  
    
    .wrapper {
        min-width: 95%;
    }
}