.hungryClients {
    min-height: 70vh;   
    background-color: $senary;

    .wrapper {
        min-height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    p {
        
        width: 88%;
        margin-top: 48px;
        text-align: center;
        position: relative;
        
        

       i.fa-quote-left {
        position: absolute;
        left: -6.8%; 
        top: -8px;       
       }

       i.fa-quote-right {
        position: absolute;
        right: -6.8%;  
        top: 75px;
       }
    }

    .slider {
        display: flex;
        justify-content: space-between;        
        min-width: 5%;
        margin-top: 60px;
      }
}