.hungryClients {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $senary;

    p {
        text-align: center;
        max-width: 70%;
        margin-top: 48px;
        position: relative;
        line-height: 36px;
        letter-spacing: 0.6px;
        

       i.fa-quote-left {
        position: absolute;
        left: -6.8%; 
        top: -8px;       
       }

       i.fa-quote-right {
        position: absolute;
        right: -6.8%;  
        top: 75px;
       }
    }

    .slider {
        display: flex;
        justify-content: space-between;        
        min-width: 5%;
        margin-top: 60px;
      }
}