@media (max-width: 500px) {   

    header {
        .navbar,
            .navItemFlex,
            .navContainer {
                flex-direction: column;
        
                .logo {
                    padding: 0;
                    @include fontSize(33);               
                }
            }
        
            .shoppingCart {
                display: flex;
        
                .search {
                    padding-top: 3px;
                }
            }            
    }// ----X---- Header ----X----
  

        //-------- Popular Recipes Section --------->
    .popularRecipes { 
        
        .recipesContainerFlex {
            flex-direction: column;
    
            .recipesContent {
                width: 100%;
                margin: 40px 0;

    
                p {
                    line-height: 30px;
                }
            }
    
            .recipeImg {
                width: 100%;
                margin-top: 8px;
    
            }
    
            .foodMenu {
                width: 100%;
                    
                .colunm {
                    margin-top: 50px;    
                }    
            }
        }        
    } // ----X---- .popularRecipes section ----X----


        // --------- .ourRestaurants ---------

    .ourRestaurants {

        min-height: 85vh;

        .wrapper {
            width: 100%;

            div {
                width: inherit;

                .foodCourtImg {
                    width: 70%;
                }          
                
            }
            
            .stamp {
                width: 22%;
                height: 17%;
                position: absolute;
                top: 71px;
                left: 72.1%;
            }
        }
    }// ----X---- .ourRestaurants ----X----

    // --------- .hungryClients ---------

    .hungryClients {

        .wrapper {
            width: 100%;
            padding: 80 0px;
            
            p {
                width: 92%;
                @include fontSize(18);

                i {
                    @include fontSize(25);
                }

                i.fa-quote-left {
                    position: absolute;
                    left: -4%;
                    top: 48px;
                }
                
                i.fa-quote-right {
                    position: absolute;
                    right: -4.2%;
                    top: 200px;
                }
            }

            .slider {
                min-width: 18%;
            }
        }
    }// ----X---- .hungryClients ----X----
        
    // --------- Footer ---------
    footer {

        .wrapper {
            width: 100%;            
            flex-direction: column;
            
            p,
            a {
                width: 80%;
                margin:0 auto ;
            }

            .footerContact {
                width: 100%; 
                text-align: center;
                
            }
            
            .footerColumn {
                padding-right: 0;

                .columnContent {
                    
                    ul {
                        // width: 100%;
                        padding-left: 140px;
                    }
                }

                h4,
                h5 {
                    text-align: center;
                }
                
                    p {
                        padding-bottom: 0;
                    }
                
                .contentBoder {
                    border: none;
                }
            }           

            .subscribe {
                text-align: center;

                p {
                   width: 100%;                    
                   padding-bottom: 2px;
                   padding-left: 5px;
                }
                
                form {
                    width: 98%;            
                    justify-content: center;
                    border: none;
                    
                    input[type=email] {
                        width: 63%;
                        margin-left: 10px;
                    }
                }
                
                .socialMedia {
                    padding-left: 42%;
                }
            }
        }        
        
        .copyright {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
        }
    }// ----X---- Footer ----X----    
    
}













































