@media (max-device-width: 1015px) {
    
    .popularRecipes {
    
        .recipesContainerFlex {
            flex-direction: column;

            .recipesContent {
                width: 100%;
                margin: 175px 0;

                p {
                    line-height: 30px;
                }
            }

            .recipeImg {
                width: 100%;
                margin-top: 2px;

                img {
                    width: 100%;
                }

            }

            .foodMenu {
                width: 100%;
                min-height: 476px;
                
                .colunm {
                    padding: 100px;
                }
            }
        }
    }


    //-------- .ourRestaurants Section --------->

    .ourRestaurants {

        .wrapper {

            .stamp {
                width: 18%;
                height: 19%;
                position: absolute;
                top: 14.3%;
                left: 64.9%;
            }
        }
    }

}


@media (max-device-width: 1000px) {

    header {
    
        .navbar {

            .logo {
                padding: 0;
                @include fontSize(33);
            }

            .hamburgerMenu {
                display: block;
            }
           
            
            .navItemFlex,
            .navContainer {
                flex-direction: column;
            }
            
            .shoppingCart {
                display: flex;
                
                .search {
                    padding-top: 3px;
                }
            }
        }
        
        .navbar .navContainer {
            display: none;
        }
    }

    //-------- Popular Recipes Section --------->
    .popularRecipes {

        .recipesContainerFlex {

            .recipesContent {
                width: 100%;               
            }

            .recipeImg {
                width: 100%;

                // img {
                //    height: 98%;
                // }
            }

            .foodMenu {
                width: 100%;

                p {
                    padding-bottom: 10px;
                    line-height: 23px;
                    @include fontSize(12);
                }
                
                .colunm {                    
                    max-height: 97%;
                    padding: 16px 6px;
                   
                }

                h3 {
                    @include fontSize(14);
                }
}
        }

        .foodMenuContent {            
            padding-bottom: 0;

        }
    }

    .ourRestaurants {

        .wrapper {

            .stamp {
                width: 20%;
                height: 19%;
                position: absolute;
                top: 14.8%;
                left: 63.8%;
            }
        }
    }

}

@media (max-device-width: 892px) {
    //-------- Popular Recipes Section --------->
        .popularRecipes {
    
            .recipesContainerFlex {
                flex-direction: column;
    
    
                .recipesContent {
                    width: 100%;
                    // margin: 40px 0;
    
    
                    p {
                        line-height: 30px;
                    }
                }
    
                .recipeImg {
                    width: 100%;
                    margin-top: 2px;
    
                }
    
                .foodMenu {
                    width: 100%;
    
                    .colunm {
                        min-height: 476px;
                        padding: 15% 5px;

                        p {
                        @include fontSize(16);
                        }
                    }
                }
            }

            .foodMenuContent {               
                padding-bottom: 30px;
            }
        }

}


@media (max-device-width: 500px) {

    header {

        .navbar {
            .logo {
                padding: 0;
                @include fontSize(33);
            }

            .hamburgerMenu {
                display: block;
            }
        }

        .navbar .navContainer {
            display: none;
        }
            
        .navItemFlex,
        .navContainer {
            flex-direction: column;           
        }

        .shoppingCart {
            display: flex;

            .search {
                padding-top: 3px;
            }
        }
    }
    
        //-------- Popular Recipes Section --------->
        .popularRecipes {
    
            .recipesContainerFlex {
                flex-direction: column;
                
    
                .recipesContent {
                    width: 100%;
                    margin: 40px 0;
    
    
                    p {
                        line-height: 30px;
                    }
                }
    
                .recipeImg {
                    width: 100%;
                    margin-top: 2px;
    
                }
    
                .foodMenu {
                    width: 100%;
    
                    .colunm {
                        margin-top: 70px;
                        min-height: 476px;
                        padding: 0 5px;
                    }
                }
            }
        }
    
        // --------- .ourRestaurants --------->
    
        .ourRestaurants {
    
            min-height: 85vh;
    
            .wrapper {
                width: 100%;
    
                div {
                    width: inherit;
    
                    .foodCourtImg {
                        width: 70%;
                    }
    
                }
    
                .stamp {
                    width: 22%;
                    height: 17%;
                    position: absolute;
                    top: 11%;
                    left: 72.1%;
                }
            }
        }        
    
        // --------- .hungryClients --------->
    
        .hungryClients {
    
            .wrapper {
                width: 100%;
                padding: 80 0px;
    
                p {
                    width: 80%;
                    @include fontSize(16);
    
                    i {
                        @include fontSize(25);
                    }
    
                    i.fa-quote-left {
                        position: absolute;
                        left: -8%;
                        top: 18%;
                    }
    
                    i.fa-quote-right {
                        position: absolute;
                        right: 23.8%;
                        top: 90%;
                    }
                }
    
                .slider {
                    min-width: 22%;
                }
            }
        }

        // --------- Footer --------->
        footer {
    
            .wrapper {
                width: 100%;
                flex-direction: column;
    
                p,
                a {
                    width: 80%;
                    margin: 0 auto;
                }
    
                .footerContact {
                    width: 100%;
                    text-align: center;
    
                }
    
                .footerColumn {
                    padding-right: 0;
    
                    .columnContent {
                    
                        ul {
                            padding-left: 0;
                            text-align: center;
                
                            li {
                                width: 100%;
                            }
                        }
                    }
    
                    h4,
                    h5 {
                        text-align: center;
                    }
    
                    p {
                        padding-bottom: 0;
                    }
    
                    .contentBoder {
                        border: none;                        
                    }
                }
    
                .subscribe {
                    text-align: center;
    
                    p {
                        width: 100%;
                        padding-bottom: 2px;
                        padding-left: 5px;
                    }
    
                    form {
                        width: 98%;
                        justify-content: center;
                        border: none;
    
                        input[type=email] {
                            width: 63%;
                            margin-left: 10px;
                        }
                    }
    
                    .socialMedia {
                        padding-left: 42%;
                    }
                }
            }
    
            .copyright {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
            }
        }  
}


@media (max-device-width: 496px) {

//-------- Popular Recipes Section --------->
    .popularRecipes {

        .recipesContainerFlex {
                      
            .foodMenu {
                flex-direction: column;
                padding: 0 6px;

                .colunm {
                    min-height: 412px;
                    margin: 0;
                    padding-top: 0;                   

                    &:first-child {
                        padding-top: 75px;
                    }
                }
            }
        }
    }

    // --------- .ourRestaurants --------->

    .ourRestaurants {

        min-height: 79vh;

        .wrapper {

            .stamp {
                width: 22%;
                height: 17%;
                position: absolute;
                top: 55px;
                left: 72.1%;
            }
        }
    }



    // --------- .hungryClients --------->

    .hungryClients {

        .wrapper {
           
            p {
                width: 80%;
                
                i.fa-quote-left {
                    position: absolute;
                    left: -6.5%;
                    top: 20%;
                }

                i.fa-quote-right {
                    position: absolute;
                    right: 20.8%;
                    top: 90%;
                }
            }            
        }
    }

    // --------- Footer --------->
    footer {

        .wrapper {

            .subscribe {

                form {
                    
                    input[type=email] {
                        width: 65%;
                    }
                }                
            }
        }
    }
}

@media (max-device-width: 410px) {

    // --------- .ourRestaurants --------->

    .ourRestaurants {

        .wrapper {
            width: 100%;

            div {
                width: inherit;

                .foodCourtImg {
                    width: 70%;
                }

            }

            .stamp {
                width: 22%;
                height: 17%;
                position: absolute;
                top: 11%;
                left: 72.1%;
            }
        }
    }

    // --------- .hungryClients --------->

    .hungryClients {

        .wrapper {
            width: 100%;
            padding: 80px 0;

            p {
                width: 80%;
                @include fontSize(16);

                i {
                    @include fontSize(25);
                }

                i.fa-quote-left {
                    position: absolute;
                    left: -8%;
                    top: 18%;
                }

                i.fa-quote-right {
                    position: absolute;
                    right: 14.8%;
                    top: 91%;
                }
            }

            .slider {
                min-width: 22%;
            }
        }
    }
}

@media (max-device-width: 375px) {

    //-------- Popular Recipes Section --------->
    .popularRecipes {

        .recipesContainerFlex {
            

            .recipesContent {

                p {
                    padding: 30px 12px;
                }
            }

            .recipeImg {
                margin-top: 2px;
            }

            .foodMenu {
                flex-direction: column;
                padding: 0 6px;

                .colunm {
                    margin: 0;
                    padding-top: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    &:first-child {
                    padding-top: 75px;
                    }
                }
            }
        }

        .foodMenuContent {
            padding-bottom: 60px;
        }
    }

    // --------- .ourRestaurants --------->
    
    .ourRestaurants {

        .wrapper {           

            div {
                
                p {
                    padding: 0 12px;                    
                }
            }
        }
    }

    // --------- .hungryClients --------->

    .hungryClients {

        .wrapper {
            width: 100%;
            padding: 80 0px;

            p {
                width: 92%;
                @include fontSize(16);

                i {
                    @include fontSize(20);
                }

                i.fa-quote-left {
                    left: -2%;
                    top: 18%;
                }

                i.fa-quote-right {
                    right: 26.8%;                    
                }
            }

            .slider {
                min-width: 30%;
            }
        }
    }

    // --------- Footer --------->
    footer {

        .wrapper {

            .footerColumn {
               
                .columnContent {
                
                    ul {
                        padding-left: 0;
                        text-align: center;
            
                        li {
                            width: 100%;
                        }
                    }
                }
                
            }

            .subscribe {

                form {

                    input[type=email] {
                        width: 100%;
                        margin-left: 10px;
                    }
                }

                .socialMedia {
                    margin: 0;
                    padding-left: 42%;
                }
            }
        }
    }    
}


@media (max-device-width: 353px) {

    // --------- .hungryClients --------->
    
    .hungryClients {

        .wrapper {
            width: 100%;

            p {

                i {
                    @include fontSize(18);
                }                

                i.fa-quote-left {
                    position: absolute;
                    right: 100%;
                    top: 15%;
                }

                i.fa-quote-right {
                    position: absolute;
                    right: 10.8%;
                    top: 93%;
                }
            }

            .slider {
                min-width: 30%;
            }
        }
    }

    


}


@media (max-device-width: 320px) {    

    // --------- .ourRestaurants --------->

    .ourRestaurants {

        .wrapper {

            .stamp {
                width: 20%;
                height: 13%;
                position: absolute;
                top: 15%;
                left: 73.1%;
            } 
            
            div {

                p {
                    padding: 0 10px;
                    @include fontSize(16);
            
                }
            }
        }
    }

    // --------- .hungryClients --------->

    .hungryClients {
        padding: 50px 0;

        .wrapper {
            p {

                i.fa-quote-left {
                    position: absolute;
                    left: -3%;
                    top: 16%;
                }

                i.fa-quote-right {
                    position: absolute;
                    right: 23
                    .8%;
                    top: 93%;
                }
            }

            .slider {
                min-width: 30%;
            }
        }
    }
    
    
        // --------- Contact Page --------->

    .contact {
        // height: 1400px;

        .contactContent {
            height: 100vh;
            flex-direction: column;

            .formContainer {
                flex-direction: column;
                width: 100%;

                .wrapper {
                    width: 100%;

                    h2 {
                        text-align: center;
                    }

                    form {
                        padding: 0 10px;


                        input,
                        textarea {
                            padding-left: 8px;
                            width: 100%;
                        }

                        input[name=name] {
                            margin-right: 12px;
                        }

                        textarea {
                            resize: none;
                        }


                        input[name=subject],
                        textarea {
                            min-width: 98%;
                        }

                        input,
                        textarea {
                            border: none;
                            background-color: $quarternary;
                            margin-bottom: 20px;
                        }

                        button {
                            border: none;
                            background-color: inherit;
                            cursor: pointer;

                            i {
                                padding-left: 5px;
                            }
                        }
                    }
                }
            }

            .contactDetailsContainer {
                margin-top: 70px;
                padding: 0;
                width: 100%;
                text-align: center;

                .wrapper {
                    margin: 0;
                }

                div {
                    min-width: 100%;
                }

                .contactDetails {
                    h3 {
                        margin: 80px 0 30px;
                    }

                }

                h5 {
                    margin: 48px 0 15px;
                }

                adress {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 120px;

                    &:last-child {
                        padding-bottom: 40px;
                    }
                }
            }
        }

        .contactBackground {
            height: 85vh;
            width: 100%;
            background-image: url(../assets/contact-2-min.jpeg);
            background-size: cover;
            background-position: center;
        }
    }

   
    
    

}