.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;   
    
    .navContainer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 6px;        
    }

    .navItemFlex {
        display: flex;
        justify-content: space-around;
        align-items: center;         
    }

    .shoppingCart {
        display: flex;
    }
    
    .shoppingBag {
        position: relative;  
    }

    .counterNumber {
        display: flex;
        justify-content: center;
        align-items: center;            
        position: absolute;
        top: 50%;
        left: 58%;
        background-color: $quinary;        
        width: 18px;
        height: 18px;
        border-radius: 50%;
    }

    .shoppingBag i,
    .search i {
        padding: 10px 5px;
        color: $primary;        
    }

    .search {
        margin-left: 14px;
        
    }

    a {
        padding: 8px 10px;
        border: none;

        &:hover,
        &:focus {
            color: rgb(132, 190, 45);
            outline: none;
        }
    }        
}