.popularRecipes {

    .wrapper {
        width: 100%;
    }

    .recipesContainerFlex {
        display: flex;
    }
        
    .recipesContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;

        p {
            text-align: center;
            padding: 25px 60px;
        }        
    }

    .recipeImg {
        width: 50%;
        
    }
    
    .foodMenu {  
        display: flex; 
        justify-content: center;
        align-items: center;
        width: 50%;
        background-color: $quarternary;
    
        
        i {
            color: $secondary;
            padding: 0 19px;
    
            &.fa-mug-saucer {
                padding-left: 15px;
                padding-right: 13px;    
            }
    
            &.fa-leaf {
                padding-left: 15px;
                padding-right: 13px;
            }
        }
    }
    
    .foodMenuContent {
        display: flex; 
        padding-bottom: 20px;   
    }
}

.btn {
    background-color: $quinary;
    padding: 18px 30px;
    border:transparent solid 2px;

    &:hover,
    &:focus {
        background-color: $solidWhite;        
        color: $quinary;
        border: $quinary solid 2px;
    }
}