html {
    font-size: 125%;
}

body {
    font-size: $baseFontSize;    
    font-family: $secondaryFont;
    color: $quarternary; 
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $primaryFont;
    font-weight: 700;
    margin: 0;
    color: $primary;
    text-transform: uppercase
}

h1 {
    @include fontSize(46);    
}

h2 {
    @include fontSize(25);
}

h3 {
    @include fontSize(18);
}

h2,
h3 {
    line-height: 36px;
    letter-spacing: 0.5px;          
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
}

p {
line-height: 24px;
letter-spacing: 0.3px;
color: $tertiary;
}

.counterNumber {  
    color: $quarternary;
    font-weight: bold;
    margin: 0;     
    @include fontSize(10);
}

.navItemFlex {
        color: $primary;
        
        .navItems a {
                text-transform: uppercase;
                color: $primary; 
                @include fontSize(16);
            }
    }   

    .recipesContent {

        a.btn {
            font-family: $primaryFont;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.6px;
            @include fontSize(14);
        }
    }

    .foodMenu {

        i {
            @include fontSize(30);
        }

        h3 {
            @include fontSize(18);
        }
        
        p {
            @include fontSize(14);

        }
    }

    .hungryClients {

        .wrapper {

            p {
                    color: $secondary;
                    font-style: italic;
                    line-height: 36px;
                    letter-spacing: 0.6px;
                    @include fontSize(24);
                }
            
                i {
                    color: $solidWhite;
                    @include fontSize(42);
                }
            
                .slider {
            
                    a {
                        color: $solidWhite;
                        font-weight: bold;
                        @include fontSize(24);
                        
                        .prev {
                            color: $quarternary;
                        }
                    }
            
            
                }
            }
            
        }
        
        footer {         
            h4,
            h5 {
                color: $quarternary;               
                line-height: 24px;
                letter-spacing: 0.5px;
                @include fontSize(18);            
            }

            h4 {
                color: rgb(132, 190, 45);
                @include fontSize(28);
            }

            p,
            li {
                line-height: 44px;
                letter-spacing: 0.3px;
                @include fontSize(13);
            }

            .subscribe {

                p {
                    line-height: 25px;
                }
                
                form {
                    font-size: 0;
                    color: $secondary;

                    input[type=email] {
                        font-family: $secondaryFont;
                        color: $solidWhite;                        
                        padding-left: 12px; 
                        
                        &::placeholder {
                            opacity: 0.3;
                            @include fontSize(8);
                        }

                    }

                    input[type=email],
                    button[type=submit] {
                        @include fontSize(13);            
                    }
                    
                    button[type=submit] {                
    
                        .fa-right-long {                                  
                            color: $quarternary;                     
                            @include fontSize(15);
                        }
                    }
                }

            }
            
            adress {
                a {
                    @include fontSize(13);
                }
            }

            .copyright {
                p {
                    font-family: $primaryFont;
                    @include fontSize(10);
                    
                    span {
                        text-transform: uppercase;
                        color: $quinary;
                    }
                }
            }
    }


        // < !--------- Contact Page Styles --------->

.contactContent {
    form {
    
            input {
                font-family: $secondaryFont;
                padding-left: 20px;
                @include fontSize(10);
    
                &::placeholder {
                    opacity: 0.9;
                }
            }
    
            textarea {
                padding: 15px 20px 0;
                font-family: $secondaryFont;
                @include fontSize(10);
    
                &::placeholder {
                    opacity: 0.4;
                }
            }
    
            button {
                color: rgb(132, 190, 45);
                font-family: $primaryFont;
                text-transform: uppercase;
                text-align: center;
                @include fontSize(10);
            }
        }
    
        .contactDetailsContainer {
    
    
            h3,
            h5 {
                letter-spacing: 0.5px;
            }
    
            p,
            a {
                color: $tertiary;
                line-height: 22px;
                letter-spacing: 0.3px;
                @include fontSize(13);
            }
    
            span.weekDays {
                color: $secondary;
                font-family: $primaryFont;
                font-weight: 300;
                text-transform: uppercase;
            }
    
            time {
                color: $primary;
                opacity: 0.7;
            }
    
            span.city {
                display: block;
            }
    
            adress {
    
                a {
                    display: block;
    
                    &:hover,
                    &:focus {
                        color: rgb(132, 190, 45);
                    }
                }
            }
        }
}

// < !----X---- Contact Page Styles ----X---->









