// Site Fonts
$primaryFont: 'Raleway', sans-serif;
$secondaryFont: 'Lora', serif;

$baseFontSize: 1rem;

// Site Colors
$primary: #2e2e2e;
$secondary: #333333;
$tertiary: #999999;
$quarternary: #f6f6f6;
$quinary: #64a604;
$senary: #dded9a;
$septenary: #b8b6b65d;
$octonary: rgba(238, 36, 154, 0.74);
$solidWhite: #ffffff