// Site Fonts
$primaryFont: 'Raleway', sans-serif;
$secondaryFont: 'Lora', serif;

$baseFontSize: 1rem;

// Site Colors
$primary: #2E2E2E;
$secondary: #333333;
$tertiary: #999999;
$quarternary: #F6F6F6;
$quinary: rgb(132, 190, 45);
$senary:rgba(207, 236, 44, 0.438);
$septenary: #b8b6b65d;
$solidWhite: #ffffff

