// Site Fonts
$primaryFont: 'Raleway', sans-serif;
$secondaryFont: 'Lora', serif;

$baseFontSize: 1rem;

// Site Colors
$primary: #2E2E2E;
$secondary: #333333;
$tertiary: #999999;
$quarternary: #F6F6F6;
$quinary: rgb(132, 190, 45);
// $senary: A light mustard green for Hungry Clients section;
        // Compare with the design to match it        
$septenary: #b8b6b65d;

