html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skip-link {
  background-color: white;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 999;
}
.skip-link:focus {
  left: 0;
  right: 0;
  text-align: center;
}

html {
  font-size: 125%;
}

body {
  font-size: 1rem;
  font-family: "Lora", serif;
  color: #F6F6F6;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin: 0;
  color: #2E2E2E;
  text-transform: uppercase;
}

h1 {
  font-size: 46px;
  font-size: 2.3rem;
}

h2 {
  font-size: 25px;
  font-size: 1.25rem;
}

h3 {
  font-size: 18px;
  font-size: 0.9rem;
}

h2,
h3 {
  line-height: 36px;
  letter-spacing: 0.5px;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

p {
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #999999;
}

.counterNumber {
  color: #F6F6F6;
  font-weight: bold;
  margin: 0;
  font-size: 10px;
  font-size: 0.5rem;
}

.navItemFlex {
  color: #2E2E2E;
}
.navItemFlex .navItems a {
  text-transform: uppercase;
  color: #2E2E2E;
  font-size: 16px;
  font-size: 0.8rem;
}

.recipesContent a.btn {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-size: 14px;
  font-size: 0.7rem;
}

.foodMenu i {
  font-size: 30px;
  font-size: 1.5rem;
}
.foodMenu h3 {
  font-size: 18px;
  font-size: 0.9rem;
}
.foodMenu p {
  font-size: 14px;
  font-size: 0.7rem;
}

.hungryClients .wrapper p {
  color: #333333;
  font-style: italic;
  line-height: 36px;
  letter-spacing: 0.6px;
  font-size: 24px;
  font-size: 1.2rem;
}
.hungryClients .wrapper i {
  color: #ffffff;
  font-size: 42px;
  font-size: 2.1rem;
}
.hungryClients .wrapper .slider a {
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  font-size: 1.2rem;
}
.hungryClients .wrapper .slider a .prev {
  color: #F6F6F6;
}

footer h4,
footer h5 {
  color: #F6F6F6;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-size: 18px;
  font-size: 0.9rem;
}
footer h4 {
  color: rgb(132, 190, 45);
  font-size: 28px;
  font-size: 1.4rem;
}
footer p,
footer li {
  line-height: 44px;
  letter-spacing: 0.3px;
  font-size: 13px;
  font-size: 0.65rem;
}
footer .subscribe p {
  line-height: 25px;
}
footer .subscribe form {
  font-size: 0;
  color: #333333;
}
footer .subscribe form input[type=email] {
  font-family: "Lora", serif;
  color: #ffffff;
  padding-left: 16px;
}
footer .subscribe form input[type=email]::-webkit-input-placeholder {
  opacity: 0.6;
  font-size: 10px;
  font-size: 0.5rem;
}
footer .subscribe form input[type=email]::-moz-placeholder {
  opacity: 0.6;
  font-size: 10px;
  font-size: 0.5rem;
}
footer .subscribe form input[type=email]:-ms-input-placeholder {
  opacity: 0.6;
  font-size: 10px;
  font-size: 0.5rem;
}
footer .subscribe form input[type=email]::-ms-input-placeholder {
  opacity: 0.6;
  font-size: 10px;
  font-size: 0.5rem;
}
footer .subscribe form input[type=email]::placeholder {
  opacity: 0.6;
  font-size: 10px;
  font-size: 0.5rem;
}
footer .subscribe form input[type=email],
footer .subscribe form button[type=submit] {
  font-size: 13px;
  font-size: 0.65rem;
}
footer .subscribe form button[type=submit] .fa-right-long {
  color: #F6F6F6;
  font-size: 15px;
  font-size: 0.75rem;
}
footer adress a {
  font-size: 13px;
  font-size: 0.65rem;
}
footer .copyright p {
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  font-size: 0.5rem;
}
footer .copyright p span {
  text-transform: uppercase;
  color: rgb(132, 190, 45);
}

.contactContent form input {
  font-family: "Lora", serif;
  padding-left: 20px;
  font-size: 10px;
  font-size: 0.5rem;
}
.contactContent form input::-webkit-input-placeholder {
  opacity: 0.9;
}
.contactContent form input::-moz-placeholder {
  opacity: 0.9;
}
.contactContent form input:-ms-input-placeholder {
  opacity: 0.9;
}
.contactContent form input::-ms-input-placeholder {
  opacity: 0.9;
}
.contactContent form input::placeholder {
  opacity: 0.9;
}
.contactContent form textarea {
  padding: 15px 20px 0;
  font-family: "Lora", serif;
  font-size: 10px;
  font-size: 0.5rem;
}
.contactContent form textarea::-webkit-input-placeholder {
  opacity: 0.4;
}
.contactContent form textarea::-moz-placeholder {
  opacity: 0.4;
}
.contactContent form textarea:-ms-input-placeholder {
  opacity: 0.4;
}
.contactContent form textarea::-ms-input-placeholder {
  opacity: 0.4;
}
.contactContent form textarea::placeholder {
  opacity: 0.4;
}
.contactContent form button {
  color: rgb(132, 190, 45);
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  font-size: 0.5rem;
}
.contactContent .contactDetailsContainer h3,
.contactContent .contactDetailsContainer h5 {
  letter-spacing: 0.5px;
}
.contactContent .contactDetailsContainer p,
.contactContent .contactDetailsContainer a {
  color: #999999;
  line-height: 22px;
  letter-spacing: 0.3px;
  font-size: 13px;
  font-size: 0.65rem;
}
.contactContent .contactDetailsContainer span.weekDays {
  color: #333333;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
.contactContent .contactDetailsContainer time {
  color: #2E2E2E;
  opacity: 0.7;
}
.contactContent .contactDetailsContainer span.city {
  display: block;
}
.contactContent .contactDetailsContainer adress a {
  display: block;
}
.contactContent .contactDetailsContainer adress a:hover, .contactContent .contactDetailsContainer adress a:focus {
  color: rgb(132, 190, 45);
}

.blogPageContent p {
  font-size: 16px;
  font-size: 0.8rem;
}
.blogPageContent .postDate {
  font-family: "Lora", serif;
  color: #999999;
  font-size: 10px;
  font-size: 0.5rem;
}
.blogPageContent .postDate span {
  color: #333333;
}
.blogPageContent .blogHeading p {
  color: #333333;
  margin-bottom: 30px;
}
.blogPageContent .blogSection .share a {
  color: #999999;
  font-size: 20px;
  font-size: 1rem;
}
.blogPageContent .commentSection .comment p {
  color: #333333;
}
.blogPageContent .commentSection .comment .postDate {
  color: #333333;
  font-family: "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1300px;
  width: 75%;
  margin: 0 auto;
}

a {
  display: inline-block;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.underline {
  position: relative;
}

.underline:after {
  position: absolute;
  content: "";
  height: 3px;
  bottom: -8px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 20%;
  background: rgb(132, 190, 45);
  /* animation */
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.underline:hover:after {
  width: 45%;
  background: rgba(238, 36, 154, 0.74);
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}
.navbar .navContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 6px;
}
.navbar .navItemFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar .shoppingBag {
  position: relative;
}
.navbar .counter p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 58%;
  background-color: rgb(132, 190, 45);
  width: 18px;
  height: 18px;
  border-radius: 50%;
}
.navbar .shoppingBag i,
.navbar .search i {
  padding: 10px 5px;
  color: #2E2E2E;
}
.navbar .search {
  margin-left: 14px;
}
.navbar a {
  padding: 8px 10px;
  border: none;
}
.navbar a:hover, .navbar a:focus {
  color: rgb(132, 190, 45);
  outline: none;
}

header {
  background-image: url(../assets/home-1-min.jpeg);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}
header .wrapper {
  min-width: 95%;
}

.popularRecipes .wrapper {
  width: 100%;
}
.popularRecipes .recipesContainerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.popularRecipes .recipesContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}
.popularRecipes .recipesContent p {
  text-align: center;
  padding: 25px 60px;
}
.popularRecipes .recipesContent .btn {
  background-color: rgb(132, 190, 45);
  padding: 14px 30px;
}
.popularRecipes .recipesContent .btn:hover, .popularRecipes .recipesContent .btn:focus {
  background-color: rgba(184, 182, 182, 0.3647058824);
  color: rgb(132, 190, 45);
}
.popularRecipes .recipeImg {
  width: 50%;
}

.foodMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  background-color: #F6F6F6;
}
.foodMenu i {
  color: #333333;
  padding: 0 19px;
}
.foodMenu i.fa-mug-saucer {
  padding-left: 15px;
  padding-right: 13px;
}
.foodMenu i.fa-leaf {
  padding-left: 15px;
  padding-right: 13px;
}

.foodMenuContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
}

.ourRestaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 98vh;
  position: relative;
}
.ourRestaurants div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 72%;
}
.ourRestaurants div h2 {
  margin-top: 46px;
}
.ourRestaurants div p {
  margin-top: 30px;
  text-align: center;
}
.ourRestaurants .stamp {
  width: 12%;
  height: 21%;
  position: absolute;
  top: 107px;
  left: 56.2%;
}
.ourRestaurants .foodCourtImg {
  width: 51%;
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.gallery ul li {
  width: 33.3333333333%;
}

.hungryClients {
  min-height: 70vh;
  background-color: rgba(207, 236, 44, 0.438);
}
.hungryClients .wrapper {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hungryClients p {
  width: 88%;
  margin-top: 48px;
  text-align: center;
  position: relative;
}
.hungryClients p i.fa-quote-left {
  position: absolute;
  left: -5.8%;
  top: -8px;
}
.hungryClients p i.fa-quote-right {
  position: absolute;
  right: -5.8%;
  top: 75px;
}
.hungryClients .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 5%;
  margin-top: 60px;
}

footer {
  background-color: #333333;
  color: #999999;
  padding-top: 4rem;
}
footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .wrapper .footerColumn {
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 30px;
  margin-bottom: 70px;
}
footer .wrapper .footerColumn .contentBoder {
  width: 85%;
  line-height: 25px;
  border-bottom: 1px solid rgba(184, 182, 182, 0.3647058824);
  padding-bottom: 14px;
  padding-top: 8px;
}
footer .wrapper .footerColumn adress a:last-child {
  padding-top: 8px;
}
footer .wrapper .footerColumn a,
footer .wrapper .footerColumn span {
  display: block;
}
footer .wrapper .footerColumn a:hover,
footer .wrapper .footerColumn a:focus {
  color: rgb(132, 190, 45);
}
footer .wrapper .footerColumn .footerHeading {
  margin-bottom: 2rem;
}
footer .wrapper .subscribe {
  padding-right: 0;
}
footer .wrapper .subscribe p {
  padding-bottom: 20px;
  width: 274px;
}
footer .wrapper .subscribe form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(184, 182, 182, 0.3647058824);
  width: 70%;
  padding-bottom: 30px;
}
footer .wrapper .subscribe form input[type=email] {
  width: 232px;
  height: 40px;
  border: none;
  background-color: rgba(184, 182, 182, 0.3647058824);
  opacity: 0.6;
  outline: none;
}
footer .wrapper .subscribe .fa-right-long {
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .wrapper .subscribe button[type=submit] {
  width: 45px;
  height: 40px;
  border: none;
  background-color: rgb(132, 190, 45);
  cursor: pointer;
}
footer .copyright {
  height: 55px;
  background-color: #2E2E2E;
}
footer .copyright p {
  padding: 8px 160px 0;
}

.socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 81%;
  margin-top: 20px;
}
.socialMedia li a {
  font-size: 16px;
  color: #F6F6F6;
  padding: 2px 15px;
}
.socialMedia li a:hover, .socialMedia li a:focus {
  color: rgb(132, 190, 45);
}
.socialMedia li a:first-child {
  padding-left: 0;
}

.contactHeader {
  min-height: 58vh;
  background-image: url(../assets/contact-1-min.jpeg);
  background-size: cover;
  background-position: center;
}

.contact .contactContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 83vh;
}
.contact .contactContent .formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 62.7%;
}
.contact .contactContent .formContainer .wrapper {
  margin-right: 0;
}
.contact .contactContent .formContainer .wrapper h2 {
  margin-top: 80px;
}
.contact .contactContent .formContainer .wrapper form {
  margin-top: 40px;
  padding-right: 10px;
}
.contact .contactContent .formContainer .wrapper form input {
  color: #999999;
  width: 47.6%;
  height: 41px;
}
.contact .contactContent .formContainer .wrapper form input[name=name] {
  margin-right: 12px;
}
.contact .contactContent .formContainer .wrapper form textarea {
  resize: none;
}
.contact .contactContent .formContainer .wrapper form input[name=subject],
.contact .contactContent .formContainer .wrapper form textarea {
  min-width: 98%;
}
.contact .contactContent .formContainer .wrapper form input,
.contact .contactContent .formContainer .wrapper form textarea {
  border: none;
  background-color: #F6F6F6;
  margin-bottom: 20px;
}
.contact .contactContent .formContainer .wrapper form button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.contact .contactContent .formContainer .wrapper form button i {
  padding-left: 5px;
}
.contact .contactContent .contactDetailsContainer {
  width: 38.3%;
  background-color: #F6F6F6;
  padding-left: 30px;
}
.contact .contactContent .contactDetailsContainer .wrapper {
  margin-left: 0;
}
.contact .contactContent .contactDetailsContainer div {
  max-width: 56%;
}
.contact .contactContent .contactDetailsContainer .contactDetails {
  max-width: 100%;
}
.contact .contactContent .contactDetailsContainer .contactDetails h3 {
  margin: 80px 0 30px;
}
.contact .contactContent .contactDetailsContainer h5 {
  margin: 48px 0 15px;
}
.contact .contactContent .contactDetailsContainer adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 120px;
}
.contact .contactBackground {
  height: 57vh;
  background-image: url(../assets/contact-2-min.jpeg);
  background-size: cover;
  background-position: center;
}

.blogHeader {
  min-height: 58vh;
  background-image: url(../assets/blog-1-min.jpeg);
  background-size: cover;
  background-position: center;
}

.blogSection {
  margin-top: 116px;
}
.blogSection .blogContent p {
  margin-top: 20px;
}
.blogSection .shareSection {
  border-top: 2px solid #F6F6F6;
  border-bottom: 2px solid #F6F6F6;
  padding: 40px 0;
  margin: 50px 0;
}
.blogSection .shareSection h4 {
  padding-right: 10px;
}
.blogSection .shareSection .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.blogSection .shareSection .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}
.blogSection .shareSection .share ul {
  width: 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}
.blogSection .shareSection .share ul a {
  padding: 10px;
}
.blogSection .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #F6F6F6;
  padding-bottom: 40px;
}
.blogSection .author .authorImgContainer {
  width: 15%;
}
.blogSection .author .authorImgContainer img {
  width: 100%;
  height: 100%;
}
.blogSection .author .aboutAuthor {
  background-color: #F6F6F6;
  width: 85%;
  margin-left: 30px;
  padding: 30px;
}
.blogSection .author .aboutAuthor h5 {
  padding-bottom: 12px;
}

.relatedPost h4 {
  margin-top: 45px;
}
.relatedPost .postFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid red;
  padding-bottom: 10px;
  margin-top: 35px;
}
.relatedPost .postFlex .postContainer {
  width: 32%;
  margin-right: 25px;
}
.relatedPost .postFlex div {
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .wrapper .footerHeading {
    margin: 40px 0;
  }
}