html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skip-link {
  background-color: white;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 999;
}
.skip-link:focus {
  left: 0;
  right: 0;
  text-align: center;
}

html {
  font-size: 125%;
}

body {
  font-size: 1rem;
  font-family: "Lora", serif;
  color: #f6f6f6;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin: 0;
  color: #2e2e2e;
  text-transform: uppercase;
  font-size: 18px;
  font-size: 0.9rem;
}

h1 {
  font-size: 46px;
  font-size: 2.3rem;
}

h2,
h3 {
  line-height: 36px;
  letter-spacing: 0.5px;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

p {
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #999999;
}

.btn {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-size: 14px;
  font-size: 0.7rem;
}

.counterNumber {
  color: #f6f6f6;
  font-weight: bold;
  margin: 0;
  font-size: 10px;
  font-size: 0.5rem;
}

.navItemFlex {
  color: #2e2e2e;
}
.navItemFlex .navItems a {
  text-transform: uppercase;
  color: #2e2e2e;
  font-size: 16px;
  font-size: 0.8rem;
}

.foodMenu i {
  font-size: 30px;
  font-size: 1.5rem;
}
.foodMenu h3 {
  font-size: 18px;
  font-size: 0.9rem;
}
.foodMenu p {
  font-size: 14px;
  font-size: 0.7rem;
}

.hungryClients .wrapper p {
  color: #333333;
  font-style: italic;
  line-height: 36px;
  letter-spacing: 0.6px;
  font-size: 24px;
  font-size: 1.2rem;
}
.hungryClients .wrapper i {
  color: #ffffff;
  font-size: 42px;
  font-size: 2.1rem;
}
.hungryClients .wrapper .slider a {
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  font-size: 1.2rem;
}
.hungryClients .wrapper .slider a .prev {
  color: #f6f6f6;
}

footer h4,
footer h5 {
  color: #f6f6f6;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-size: 18px;
  font-size: 0.9rem;
}
footer h4 {
  color: rgb(132, 190, 45);
  font-size: 28px;
  font-size: 1.4rem;
}
footer p,
footer li {
  line-height: 44px;
  letter-spacing: 0.3px;
  font-size: 13px;
  font-size: 0.65rem;
}
footer .subscribe p {
  line-height: 25px;
}
footer .subscribe form {
  font-size: 0;
  color: #333333;
}
footer .subscribe form input[type=email] {
  font-family: "Lora", serif;
  color: #ffffff;
  padding-left: 16px;
}
footer .subscribe form input[type=email]::-webkit-input-placeholder {
  opacity: 0.6;
  font-size: 10px;
  font-size: 0.5rem;
}
footer .subscribe form input[type=email]::-moz-placeholder {
  opacity: 0.6;
  font-size: 10px;
  font-size: 0.5rem;
}
footer .subscribe form input[type=email]:-ms-input-placeholder {
  opacity: 0.6;
  font-size: 10px;
  font-size: 0.5rem;
}
footer .subscribe form input[type=email]::-ms-input-placeholder {
  opacity: 0.6;
  font-size: 10px;
  font-size: 0.5rem;
}
footer .subscribe form input[type=email]::placeholder {
  opacity: 0.6;
  font-size: 10px;
  font-size: 0.5rem;
}
footer .subscribe form input[type=email],
footer .subscribe form button[type=submit] {
  font-size: 13px;
  font-size: 0.65rem;
}
footer .subscribe form button[type=submit] .fa-right-long {
  color: #f6f6f6;
  font-size: 15px;
  font-size: 0.75rem;
}
footer adress a {
  font-size: 13px;
  font-size: 0.65rem;
}
footer .copyright p {
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  font-size: 0.5rem;
}
footer .copyright p span {
  text-transform: uppercase;
  color: #64a604;
}

.contactContent form input {
  font-family: "Lora", serif;
  padding-left: 20px;
  font-size: 10px;
  font-size: 0.5rem;
}
.contactContent form input::-webkit-input-placeholder {
  opacity: 0.9;
}
.contactContent form input::-moz-placeholder {
  opacity: 0.9;
}
.contactContent form input:-ms-input-placeholder {
  opacity: 0.9;
}
.contactContent form input::-ms-input-placeholder {
  opacity: 0.9;
}
.contactContent form input::placeholder {
  opacity: 0.9;
}
.contactContent form textarea {
  padding: 15px 20px 0;
  font-family: "Lora", serif;
  font-size: 10px;
  font-size: 0.5rem;
}
.contactContent form textarea::-webkit-input-placeholder {
  opacity: 0.4;
}
.contactContent form textarea::-moz-placeholder {
  opacity: 0.4;
}
.contactContent form textarea:-ms-input-placeholder {
  opacity: 0.4;
}
.contactContent form textarea::-ms-input-placeholder {
  opacity: 0.4;
}
.contactContent form textarea::placeholder {
  opacity: 0.4;
}
.contactContent form button {
  color: rgb(132, 190, 45);
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  font-size: 0.5rem;
}
.contactContent .contactDetailsContainer h3,
.contactContent .contactDetailsContainer h5 {
  letter-spacing: 0.5px;
}
.contactContent .contactDetailsContainer p,
.contactContent .contactDetailsContainer a {
  color: #999999;
  line-height: 22px;
  letter-spacing: 0.3px;
  font-size: 13px;
  font-size: 0.65rem;
}
.contactContent .contactDetailsContainer span.weekDays {
  color: #333333;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
.contactContent .contactDetailsContainer time {
  color: #2e2e2e;
  opacity: 0.7;
}
.contactContent .contactDetailsContainer span.city {
  display: block;
}
.contactContent .contactDetailsContainer adress a {
  display: block;
}
.contactContent .contactDetailsContainer adress a:hover, .contactContent .contactDetailsContainer adress a:focus {
  color: rgb(132, 190, 45);
}

.blogPageContent h4,
.blogPageContent h5 {
  font-size: 15px;
  font-size: 0.75rem;
}
.blogPageContent p {
  font-size: 16px;
  font-size: 0.8rem;
}
.blogPageContent .postDate {
  font-family: "Lora", serif;
  color: #999999;
  font-size: 10px;
  font-size: 0.5rem;
}
.blogPageContent .postDate span {
  color: #333333;
}
.blogPageContent .blogHeading p {
  color: #333333;
  margin-bottom: 30px;
}
.blogPageContent .blogSection .share a {
  color: #999999;
  font-size: 20px;
  font-size: 1rem;
}
.blogPageContent .commentSection .comment p {
  color: #333333;
}
.blogPageContent .commentSection .comment p span {
  color: #2e2e2e;
  font-weight: 700;
}
.blogPageContent .commentSection .comment .postDate {
  color: #333333;
  font-family: "Raleway", sans-serif;
}
.blogPageContent .commentSection .commentCounter p {
  font-family: "Raleway", sans-serif;
  color: #2e2e2e;
}
.blogPageContent .commentForm .wrapper p {
  font-size: 10px;
  font-size: 0.5rem;
}
.blogPageContent .commentForm .wrapper form {
  font-size: 0;
}
.blogPageContent .commentForm .wrapper form input,
.blogPageContent .commentForm .wrapper form label,
.blogPageContent .commentForm .wrapper form textarea,
.blogPageContent .commentForm .wrapper form button {
  font-size: 10px;
  font-size: 0.5rem;
}
.blogPageContent .commentForm .wrapper form input::-webkit-input-placeholder, .blogPageContent .commentForm .wrapper form label::-webkit-input-placeholder, .blogPageContent .commentForm .wrapper form textarea::-webkit-input-placeholder, .blogPageContent .commentForm .wrapper form button::-webkit-input-placeholder {
  font-family: "Lora", serif;
}
.blogPageContent .commentForm .wrapper form input::-moz-placeholder, .blogPageContent .commentForm .wrapper form label::-moz-placeholder, .blogPageContent .commentForm .wrapper form textarea::-moz-placeholder, .blogPageContent .commentForm .wrapper form button::-moz-placeholder {
  font-family: "Lora", serif;
}
.blogPageContent .commentForm .wrapper form input:-ms-input-placeholder, .blogPageContent .commentForm .wrapper form label:-ms-input-placeholder, .blogPageContent .commentForm .wrapper form textarea:-ms-input-placeholder, .blogPageContent .commentForm .wrapper form button:-ms-input-placeholder {
  font-family: "Lora", serif;
}
.blogPageContent .commentForm .wrapper form input::-ms-input-placeholder, .blogPageContent .commentForm .wrapper form label::-ms-input-placeholder, .blogPageContent .commentForm .wrapper form textarea::-ms-input-placeholder, .blogPageContent .commentForm .wrapper form button::-ms-input-placeholder {
  font-family: "Lora", serif;
}
.blogPageContent .commentForm .wrapper form input::placeholder,
.blogPageContent .commentForm .wrapper form label::placeholder,
.blogPageContent .commentForm .wrapper form textarea::placeholder,
.blogPageContent .commentForm .wrapper form button::placeholder {
  font-family: "Lora", serif;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1300px;
  width: 75%;
  margin: 0 auto;
}

a {
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.underline {
  position: relative;
}

.underline:after {
  position: absolute;
  content: "";
  height: 3px;
  bottom: -8px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 20%;
  background: rgb(132, 190, 45);
  /* animation */
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.underline:hover:after {
  width: 45%;
  background: rgba(238, 36, 154, 0.74);
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}
.navbar .hamburgerMenu {
  display: none;
}
.navbar .navContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 6px;
}
.navbar .navItemFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar .shoppingCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navbar .shoppingBag {
  position: relative;
}
.navbar .counterNumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 58%;
  background-color: #64a604;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}
.navbar .shoppingBag i,
.navbar .search i {
  padding: 10px 5px;
  color: #2e2e2e;
}
.navbar .search {
  margin-left: 14px;
}
.navbar a {
  padding: 8px 10px;
  border: none;
}
.navbar a:hover, .navbar a:focus {
  color: rgb(132, 190, 45);
  outline: none;
}

header {
  background-image: url(../assets/home-1-min.jpeg);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}
header .wrapper {
  min-width: 95%;
}

.popularRecipes .wrapper {
  width: 100%;
}
.popularRecipes .recipesContainerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.popularRecipes .recipesContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}
.popularRecipes .recipesContent p {
  text-align: center;
  padding: 25px 60px;
}
.popularRecipes .recipeImg {
  width: 50%;
}
.popularRecipes .foodMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  background-color: #f6f6f6;
}
.popularRecipes .foodMenu i {
  color: #333333;
  padding: 0 19px;
}
.popularRecipes .foodMenu i.fa-mug-saucer {
  padding-left: 15px;
  padding-right: 13px;
}
.popularRecipes .foodMenu i.fa-leaf {
  padding-left: 15px;
  padding-right: 13px;
}
.popularRecipes .foodMenuContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}

.btn {
  background-color: #64a604;
  padding: 18px 30px;
  border: transparent solid 2px;
}
.btn:hover, .btn:focus {
  background-color: #ffffff;
  color: #64a604;
  border: #64a604 solid 2px;
}

.ourRestaurants {
  min-height: 100vh;
}
.ourRestaurants .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: inherit;
}
.ourRestaurants .wrapper div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ourRestaurants .wrapper div h2 {
  margin-top: 46px;
}
.ourRestaurants .wrapper div p {
  margin-top: 30px;
  text-align: center;
}
.ourRestaurants .wrapper div .foodCourtImg {
  width: 51%;
}
.ourRestaurants .wrapper .stamp {
  width: 17%;
  height: 24%;
  position: absolute;
  top: 7.5%;
  left: 65.6%;
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.gallery ul li {
  width: 33.3333333333%;
}

.hungryClients {
  min-height: 70vh;
  background-color: #dded9a;
}
.hungryClients .wrapper {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hungryClients p {
  width: 88%;
  padding-top: 48px;
  text-align: center;
  position: relative;
}
.hungryClients p i.fa-quote-left {
  position: absolute;
  left: -6.8%;
  top: 21%;
}
.hungryClients p i.fa-quote-right {
  position: absolute;
  right: -5.8%;
  top: 70%;
}
.hungryClients .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 8%;
  margin-top: 60px;
}
.hungryClients .slider a {
  padding: 8px;
}
.hungryClients .slider a:hover, .hungryClients .slider a:focus {
  background-color: #333333;
  opacity: 0.6;
}

footer {
  background-color: #333333;
  color: #999999;
  padding-top: 4rem;
}
footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .wrapper .footerColumn {
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 30px;
  margin-bottom: 70px;
}
footer .wrapper .footerColumn .contentBoder {
  width: 80%;
  line-height: 25px;
  border-bottom: 1px solid rgba(184, 182, 182, 0.3647058824);
  padding-bottom: 14px;
  padding-top: 8px;
}
footer .wrapper .footerColumn adress a:last-child {
  padding-top: 8px;
}
footer .wrapper .footerColumn a,
footer .wrapper .footerColumn span {
  display: block;
}
footer .wrapper .footerColumn a:hover,
footer .wrapper .footerColumn a:focus {
  color: #64a604;
}
footer .wrapper .footerColumn .footerHeading {
  margin-bottom: 2rem;
}
footer .wrapper .subscribe {
  padding-right: 0;
}
footer .wrapper .subscribe p {
  padding-bottom: 20px;
  width: 274px;
}
footer .wrapper .subscribe form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(184, 182, 182, 0.3647058824);
  width: 70%;
  padding-bottom: 30px;
}
footer .wrapper .subscribe form input[type=email] {
  width: 232px;
  height: 40px;
  border: none;
  background-color: rgba(184, 182, 182, 0.3647058824);
  opacity: 0.6;
  outline: none;
}
footer .wrapper .subscribe .fa-right-long {
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .wrapper .subscribe button[type=submit] {
  width: 45px;
  height: 40px;
  border: none;
  background-color: #64a604;
  cursor: pointer;
}
footer .socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 81%;
  margin-top: 20px;
}
footer .socialMedia li a {
  font-size: 16px;
  color: #f6f6f6;
  padding: 2px 15px;
}
footer .socialMedia li a:hover, footer .socialMedia li a:focus {
  color: #64a604;
}
footer .socialMedia li a:first-child {
  padding-left: 0;
}
footer .copyright {
  height: 55px;
  background-color: #2e2e2e;
  padding: 8px 0 0 150px;
}

.contactHeader {
  min-height: 58vh;
  background-image: url(../assets/contact-1-min.jpeg);
  background-size: cover;
  background-position: center;
}

.contact .contactContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 83vh;
}
.contact .contactContent .formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 62.7%;
}
.contact .contactContent .formContainer .wrapper {
  margin-right: 0;
}
.contact .contactContent .formContainer .wrapper h2 {
  margin-top: 80px;
}
.contact .contactContent .formContainer .wrapper form {
  margin-top: 40px;
  padding-right: 10px;
}
.contact .contactContent .formContainer .wrapper form input {
  color: #999999;
  width: 47.6%;
  height: 41px;
}
.contact .contactContent .formContainer .wrapper form input[name=name] {
  margin-right: 12px;
}
.contact .contactContent .formContainer .wrapper form textarea {
  resize: none;
}
.contact .contactContent .formContainer .wrapper form input[name=subject],
.contact .contactContent .formContainer .wrapper form textarea {
  min-width: 98%;
}
.contact .contactContent .formContainer .wrapper form input,
.contact .contactContent .formContainer .wrapper form textarea {
  border: none;
  background-color: #f6f6f6;
  margin-bottom: 20px;
}
.contact .contactContent .formContainer .wrapper form button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.contact .contactContent .formContainer .wrapper form button i {
  padding-left: 5px;
}
.contact .contactContent .contactDetailsContainer {
  width: 38.3%;
  background-color: #f6f6f6;
  padding-left: 30px;
}
.contact .contactContent .contactDetailsContainer .wrapper {
  margin-left: 0;
}
.contact .contactContent .contactDetailsContainer div {
  max-width: 56%;
}
.contact .contactContent .contactDetailsContainer .contactDetails {
  max-width: 100%;
}
.contact .contactContent .contactDetailsContainer .contactDetails h3 {
  margin: 80px 0 30px;
}
.contact .contactContent .contactDetailsContainer h5 {
  margin: 48px 0 15px;
}
.contact .contactContent .contactDetailsContainer adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 120px;
}
.contact .contactBackground {
  height: 57vh;
  background-image: url(../assets/contact-2-min.jpeg);
  background-size: cover;
  background-position: center;
}

.blogHeader {
  min-height: 58vh;
  background-image: url(../assets/blog-1-min.jpeg);
  background-size: cover;
  background-position: center;
}

.blogPageContent .blogSection {
  margin-top: 116px;
}
.blogPageContent .blogSection .blogContent p {
  margin-top: 20px;
}
.blogPageContent .blogSection .shareSection {
  border-top: 2px solid #f6f6f6;
  border-bottom: 2px solid #f6f6f6;
  padding: 40px 0;
  margin: 50px 0;
}
.blogPageContent .blogSection .shareSection h4 {
  padding-top: 4px;
  margin-right: 10px;
}
.blogPageContent .blogSection .shareSection .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.blogPageContent .blogSection .shareSection .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}
.blogPageContent .blogSection .shareSection .share ul {
  width: 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}
.blogPageContent .blogSection .shareSection .share ul a {
  padding: 10px;
}
.blogPageContent .blogSection .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #f6f6f6;
  padding-bottom: 40px;
}
.blogPageContent .blogSection .author .authorImgContainer {
  width: 15%;
}
.blogPageContent .blogSection .author .authorImgContainer img {
  width: 100%;
  height: 100%;
}
.blogPageContent .blogSection .author .aboutAuthor {
  background-color: #f6f6f6;
  width: 85%;
  margin-left: 30px;
  padding: 30px;
}
.blogPageContent .blogSection .author .aboutAuthor h5 {
  padding-bottom: 12px;
}
.blogPageContent .relatedPost h3 {
  margin-top: 45px;
}
.blogPageContent .relatedPost .postFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #f6f6f6;
  padding-bottom: 10px;
  margin-top: 35px;
}
.blogPageContent .relatedPost .postFlex .postContainer {
  width: 32%;
  margin-right: 25px;
}
.blogPageContent .relatedPost .postFlex .postContainer:last-child {
  margin-right: 0;
}
.blogPageContent .relatedPost .postFlex div {
  margin-bottom: 20px;
}
.blogPageContent .commentCounter p {
  margin-right: 5px;
  padding-top: 5px;
}
.blogPageContent .commentsContainer .commentsImg {
  width: 10%;
  margin-right: 25px;
}
.blogPageContent .commentsContainer .comment {
  background-color: #f6f6f6;
  padding: 13px 20px 6px 15px;
  position: relative;
}
.blogPageContent .commentsContainer .comment::before {
  content: "";
  position: absolute;
  right: 98%;
  top: 4px;
  border-top: 16px solid transparent;
  border-right: 28px solid #f6f6f6;
  border-bottom: 13px solid transparent;
  z-index: -999;
}
.blogPageContent .commentsContainer .comment p {
  padding-bottom: 10px;
}
.blogPageContent .commentsContainer,
.blogPageContent .commentCounter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}
.blogPageContent .commentForm {
  margin: 50px 0 120px;
}
.blogPageContent .commentForm form {
  margin-top: 15px;
}
.blogPageContent .commentForm form input {
  width: 32.3333333333%;
  height: 35px;
  margin-right: 14px;
  padding: 8px;
  border-radius: 0;
  border: 1px solid rgba(184, 182, 182, 0.3647058824);
}
.blogPageContent .commentForm form input:nth-child(6) {
  margin-right: 0;
}
.blogPageContent .commentForm form textarea {
  display: block;
  width: 100%;
  border: 1px solid rgba(184, 182, 182, 0.3647058824);
  margin-top: 20px;
  padding: 8px;
  resize: none;
}
.blogPageContent .commentForm form .btn {
  border: none;
  margin-top: 15px;
}

.hamburgerMenu div {
  width: 35px;
  height: 3px;
  background-color: black;
  border-radius: 5px;
  margin: 6px 0;
  opacity: 0.8;
}

@media (max-device-width: 1015px) {
  .popularRecipes .recipesContainerFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .popularRecipes .recipesContainerFlex .recipesContent {
    width: 100%;
    margin: 175px 0;
  }
  .popularRecipes .recipesContainerFlex .recipesContent p {
    line-height: 30px;
  }
  .popularRecipes .recipesContainerFlex .recipeImg {
    width: 100%;
    margin-top: 2px;
  }
  .popularRecipes .recipesContainerFlex .recipeImg img {
    width: 100%;
  }
  .popularRecipes .recipesContainerFlex .foodMenu {
    width: 100%;
    min-height: 476px;
  }
  .popularRecipes .recipesContainerFlex .foodMenu .colunm {
    padding: 100px;
  }
  .ourRestaurants .wrapper .stamp {
    width: 18%;
    height: 19%;
    position: absolute;
    top: 14.3%;
    left: 64.9%;
  }
}
@media (max-device-width: 1000px) {
  header .navbar .logo {
    padding: 0;
    font-size: 33px;
    font-size: 1.65rem;
  }
  header .navbar .hamburgerMenu {
    display: block;
  }
  header .navbar .navItemFlex,
header .navbar .navContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .navbar .shoppingCart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .navbar .shoppingCart .search {
    padding-top: 3px;
  }
  header .navbar .navContainer {
    display: none;
  }
  .popularRecipes .recipesContainerFlex .recipesContent {
    width: 100%;
  }
  .popularRecipes .recipesContainerFlex .recipeImg {
    width: 100%;
  }
  .popularRecipes .recipesContainerFlex .foodMenu {
    width: 100%;
  }
  .popularRecipes .recipesContainerFlex .foodMenu p {
    padding-bottom: 10px;
    line-height: 23px;
    font-size: 12px;
    font-size: 0.6rem;
  }
  .popularRecipes .recipesContainerFlex .foodMenu .colunm {
    max-height: 97%;
    padding: 16px 6px;
  }
  .popularRecipes .recipesContainerFlex .foodMenu h3 {
    font-size: 14px;
    font-size: 0.7rem;
  }
  .popularRecipes .foodMenuContent {
    padding-bottom: 0;
  }
  .ourRestaurants .wrapper .stamp {
    width: 20%;
    height: 19%;
    position: absolute;
    top: 14.8%;
    left: 63.8%;
  }
}
@media (max-device-width: 892px) {
  .popularRecipes .recipesContainerFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .popularRecipes .recipesContainerFlex .recipesContent {
    width: 100%;
  }
  .popularRecipes .recipesContainerFlex .recipesContent p {
    line-height: 30px;
  }
  .popularRecipes .recipesContainerFlex .recipeImg {
    width: 100%;
    margin-top: 2px;
  }
  .popularRecipes .recipesContainerFlex .foodMenu {
    width: 100%;
  }
  .popularRecipes .recipesContainerFlex .foodMenu .colunm {
    min-height: 476px;
    padding: 15% 5px;
  }
  .popularRecipes .recipesContainerFlex .foodMenu .colunm p {
    font-size: 16px;
    font-size: 0.8rem;
  }
  .popularRecipes .foodMenuContent {
    padding-bottom: 30px;
  }
}
@media (max-device-width: 500px) {
  header .navbar .logo {
    padding: 0;
    font-size: 33px;
    font-size: 1.65rem;
  }
  header .navbar .hamburgerMenu {
    display: block;
  }
  header .navbar .navContainer {
    display: none;
  }
  header .navItemFlex,
header .navContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .shoppingCart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .shoppingCart .search {
    padding-top: 3px;
  }
  .popularRecipes .recipesContainerFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .popularRecipes .recipesContainerFlex .recipesContent {
    width: 100%;
    margin: 40px 0;
  }
  .popularRecipes .recipesContainerFlex .recipesContent p {
    line-height: 30px;
  }
  .popularRecipes .recipesContainerFlex .recipeImg {
    width: 100%;
    margin-top: 2px;
  }
  .popularRecipes .recipesContainerFlex .foodMenu {
    width: 100%;
  }
  .popularRecipes .recipesContainerFlex .foodMenu .colunm {
    margin-top: 70px;
    min-height: 476px;
    padding: 0 5px;
  }
  .ourRestaurants {
    min-height: 85vh;
  }
  .ourRestaurants .wrapper {
    width: 100%;
  }
  .ourRestaurants .wrapper div {
    width: inherit;
  }
  .ourRestaurants .wrapper div .foodCourtImg {
    width: 70%;
  }
  .ourRestaurants .wrapper .stamp {
    width: 22%;
    height: 17%;
    position: absolute;
    top: 11%;
    left: 72.1%;
  }
  .hungryClients .wrapper {
    width: 100%;
    padding: 80 0px;
  }
  .hungryClients .wrapper p {
    width: 80%;
    font-size: 16px;
    font-size: 0.8rem;
  }
  .hungryClients .wrapper p i {
    font-size: 25px;
    font-size: 1.25rem;
  }
  .hungryClients .wrapper p i.fa-quote-left {
    position: absolute;
    left: -8%;
    top: 18%;
  }
  .hungryClients .wrapper p i.fa-quote-right {
    position: absolute;
    right: 23.8%;
    top: 90%;
  }
  .hungryClients .wrapper .slider {
    min-width: 22%;
  }
  footer .wrapper {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .wrapper p,
footer .wrapper a {
    width: 80%;
    margin: 0 auto;
  }
  footer .wrapper .footerContact {
    width: 100%;
    text-align: center;
  }
  footer .wrapper .footerColumn {
    padding-right: 0;
  }
  footer .wrapper .footerColumn .columnContent ul {
    padding-left: 0;
    text-align: center;
  }
  footer .wrapper .footerColumn .columnContent ul li {
    width: 100%;
  }
  footer .wrapper .footerColumn h4,
footer .wrapper .footerColumn h5 {
    text-align: center;
  }
  footer .wrapper .footerColumn p {
    padding-bottom: 0;
  }
  footer .wrapper .footerColumn .contentBoder {
    border: none;
  }
  footer .wrapper .subscribe {
    text-align: center;
  }
  footer .wrapper .subscribe p {
    width: 100%;
    padding-bottom: 2px;
    padding-left: 5px;
  }
  footer .wrapper .subscribe form {
    width: 98%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
  }
  footer .wrapper .subscribe form input[type=email] {
    width: 63%;
    margin-left: 10px;
  }
  footer .wrapper .subscribe .socialMedia {
    padding-left: 42%;
  }
  footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}
@media (max-device-width: 496px) {
  .popularRecipes .recipesContainerFlex .foodMenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 6px;
  }
  .popularRecipes .recipesContainerFlex .foodMenu .colunm {
    min-height: 412px;
    margin: 0;
    padding-top: 0;
  }
  .popularRecipes .recipesContainerFlex .foodMenu .colunm:first-child {
    padding-top: 75px;
  }
  .ourRestaurants {
    min-height: 79vh;
  }
  .ourRestaurants .wrapper .stamp {
    width: 22%;
    height: 17%;
    position: absolute;
    top: 55px;
    left: 72.1%;
  }
  .hungryClients .wrapper p {
    width: 80%;
  }
  .hungryClients .wrapper p i.fa-quote-left {
    position: absolute;
    left: -6.5%;
    top: 20%;
  }
  .hungryClients .wrapper p i.fa-quote-right {
    position: absolute;
    right: 20.8%;
    top: 90%;
  }
  footer .wrapper .subscribe form input[type=email] {
    width: 65%;
  }
}
@media (max-device-width: 410px) {
  .ourRestaurants .wrapper {
    width: 100%;
  }
  .ourRestaurants .wrapper div {
    width: inherit;
  }
  .ourRestaurants .wrapper div .foodCourtImg {
    width: 70%;
  }
  .ourRestaurants .wrapper .stamp {
    width: 22%;
    height: 17%;
    position: absolute;
    top: 11%;
    left: 72.1%;
  }
  .hungryClients .wrapper {
    width: 100%;
    padding: 80px 0;
  }
  .hungryClients .wrapper p {
    width: 80%;
    font-size: 16px;
    font-size: 0.8rem;
  }
  .hungryClients .wrapper p i {
    font-size: 25px;
    font-size: 1.25rem;
  }
  .hungryClients .wrapper p i.fa-quote-left {
    position: absolute;
    left: -8%;
    top: 18%;
  }
  .hungryClients .wrapper p i.fa-quote-right {
    position: absolute;
    right: 14.8%;
    top: 91%;
  }
  .hungryClients .wrapper .slider {
    min-width: 22%;
  }
}
@media (max-device-width: 375px) {
  .popularRecipes .recipesContainerFlex .recipesContent p {
    padding: 30px 12px;
  }
  .popularRecipes .recipesContainerFlex .recipeImg {
    margin-top: 2px;
  }
  .popularRecipes .recipesContainerFlex .foodMenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 6px;
  }
  .popularRecipes .recipesContainerFlex .foodMenu .colunm {
    margin: 0;
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .popularRecipes .recipesContainerFlex .foodMenu .colunm:first-child {
    padding-top: 75px;
  }
  .popularRecipes .foodMenuContent {
    padding-bottom: 60px;
  }
  .ourRestaurants .wrapper div p {
    padding: 0 12px;
  }
  .hungryClients .wrapper {
    width: 100%;
    padding: 80 0px;
  }
  .hungryClients .wrapper p {
    width: 92%;
    font-size: 16px;
    font-size: 0.8rem;
  }
  .hungryClients .wrapper p i {
    font-size: 20px;
    font-size: 1rem;
  }
  .hungryClients .wrapper p i.fa-quote-left {
    left: -2%;
    top: 18%;
  }
  .hungryClients .wrapper p i.fa-quote-right {
    right: 26.8%;
  }
  .hungryClients .wrapper .slider {
    min-width: 30%;
  }
  footer .wrapper .footerColumn .columnContent ul {
    padding-left: 0;
    text-align: center;
  }
  footer .wrapper .footerColumn .columnContent ul li {
    width: 100%;
  }
  footer .wrapper .subscribe form input[type=email] {
    width: 100%;
    margin-left: 10px;
  }
  footer .wrapper .subscribe .socialMedia {
    margin: 0;
    padding-left: 42%;
  }
}
@media (max-device-width: 353px) {
  .hungryClients .wrapper {
    width: 100%;
  }
  .hungryClients .wrapper p i {
    font-size: 18px;
    font-size: 0.9rem;
  }
  .hungryClients .wrapper p i.fa-quote-left {
    position: absolute;
    right: 100%;
    top: 15%;
  }
  .hungryClients .wrapper p i.fa-quote-right {
    position: absolute;
    right: 10.8%;
    top: 93%;
  }
  .hungryClients .wrapper .slider {
    min-width: 30%;
  }
}
@media (max-device-width: 320px) {
  .ourRestaurants .wrapper .stamp {
    width: 20%;
    height: 13%;
    position: absolute;
    top: 15%;
    left: 73.1%;
  }
  .ourRestaurants .wrapper div p {
    padding: 0 10px;
    font-size: 16px;
    font-size: 0.8rem;
  }
  .hungryClients {
    padding: 50px 0;
  }
  .hungryClients .wrapper p i.fa-quote-left {
    position: absolute;
    left: -3%;
    top: 16%;
  }
  .hungryClients .wrapper p i.fa-quote-right {
    position: absolute;
    right: 23 0.8%;
    top: 93%;
  }
  .hungryClients .wrapper .slider {
    min-width: 30%;
  }
  .contact .contactContent {
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .contactContent .formContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .contact .contactContent .formContainer .wrapper {
    width: 100%;
  }
  .contact .contactContent .formContainer .wrapper h2 {
    text-align: center;
  }
  .contact .contactContent .formContainer .wrapper form {
    padding: 0 10px;
  }
  .contact .contactContent .formContainer .wrapper form input,
.contact .contactContent .formContainer .wrapper form textarea {
    padding-left: 8px;
    width: 100%;
  }
  .contact .contactContent .formContainer .wrapper form input[name=name] {
    margin-right: 12px;
  }
  .contact .contactContent .formContainer .wrapper form textarea {
    resize: none;
  }
  .contact .contactContent .formContainer .wrapper form input[name=subject],
.contact .contactContent .formContainer .wrapper form textarea {
    min-width: 98%;
  }
  .contact .contactContent .formContainer .wrapper form input,
.contact .contactContent .formContainer .wrapper form textarea {
    border: none;
    background-color: #f6f6f6;
    margin-bottom: 20px;
  }
  .contact .contactContent .formContainer .wrapper form button {
    border: none;
    background-color: inherit;
    cursor: pointer;
  }
  .contact .contactContent .formContainer .wrapper form button i {
    padding-left: 5px;
  }
  .contact .contactContent .contactDetailsContainer {
    margin-top: 70px;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .contact .contactContent .contactDetailsContainer .wrapper {
    margin: 0;
  }
  .contact .contactContent .contactDetailsContainer div {
    min-width: 100%;
  }
  .contact .contactContent .contactDetailsContainer .contactDetails h3 {
    margin: 80px 0 30px;
  }
  .contact .contactContent .contactDetailsContainer h5 {
    margin: 48px 0 15px;
  }
  .contact .contactContent .contactDetailsContainer adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 120px;
  }
  .contact .contactContent .contactDetailsContainer adress:last-child {
    padding-bottom: 40px;
  }
  .contact .contactBackground {
    height: 85vh;
    width: 100%;
    background-image: url(../assets/contact-2-min.jpeg);
    background-size: cover;
    background-position: center;
  }
}